<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Agenda</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="agenda"><i class="fa fa-dashboard"></i> Agenda</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Profissional</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-stacked teste-menu" >
                        <li><a href="javascript:void(true)"><i class="fa fa-user margin-r-5"></i> Profissional 1</a></li>
                        <li><a href="javascript:void(true)"><i class="fa fa-user margin-r-5"></i> Profissional 2</a></li>
                        <li><a href="javascript:void(true)"><i class="fa fa-user margin-r-5"></i> Profissional 3</a></li>
                        <li><a href="javascript:void(true)"><i class="fa fa-user margin-r-5"></i> Profissional 4</a></li>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /. box -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Status</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-stacked teste-menu">
                        <li><a href="javascript:void(true)"><i class="fa fa-circle-o text-green margin-r-5"></i> Reservado</a></li>
                        <li><a href="javascript:void(true)"><i class="fa fa-circle-o text-yellow margin-r-5"></i> Em Atendimento</a></li>
                        <li><a href="javascript:void(true)"><i class="fa fa-circle-o text-light-blue margin-r-5"></i> Finalizado</a></li>
                        <li><a href="javascript:void(true)"><i class="fa fa-circle-o text-gray margin-r-5"></i> Não Compareceu</a></li>
                        <li><a href="javascript:void(true)"><i class="fa fa-circle-o text-red margin-r-5"></i> Cancelado</a></li>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-10">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <div style="padding: 10px">
                        <a class="btn btn-primary" data-toggle="modal" data-target="#novo-agendamento"><i class="fa fa-fw fa-plus-circle"></i>Novo Agendamento</a>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#modal-novo-cliente"><i class="fa fa-fw fa-plus-circle"></i>Novo Cliente</a>
                    </div>
                    <!-- THE CALENDAR -->
                    <!--<div id="calendar"></div>-->
                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources"> </div>
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->


<div class="fade modal" id="novo-agendamento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Novo Agendamento</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group has-feedback">
                        <div class="col-sm-2">
                            <label for="inputEmail3" class="control-label">Data</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" value="15/01/2016">
                            <span class="fa form-control-feedback fa-calendar"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-sm-2">
                            <label for="inputPassword3" class="control-label">Cliente</label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword3" placeholder="Informe o nome do cliente">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Serviço</label>
                        </div>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Selecione</option>
                                <option>Serviço 1</option>
                                <option>Serviço 2</option>
                                <option>Serviço 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Profissional</label>
                        </div>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Selecione</option>
                                <option>Profissional 1</option>
                                <option>Profissional 2</option>
                                <option>Profissional 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Hora</label>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>Selecione</option>
                                <option>08:00</option>
                                <option>09:00</option>
                                <option>10:00</option>
                                <option>11:00</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:00</option>
                                <option>15:00</option>
                                <option>16:00</option>
                                <option>17:00</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Observação</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="fade modal" id="reserva">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Horario - Amarilis</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group has-feedback">
                        <div class="col-sm-2">
                            <label for="inputEmail3" class="control-label">Data</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" value="15/01/2016">
                            <span class="fa form-control-feedback fa-calendar"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Serviço</label>
                        </div>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Selecione</option>
                                <option>Serviço 1</option>
                                <option>Serviço 2</option>
                                <option>Serviço 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Profissional</label>
                        </div>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Selecione</option>
                                <option>Profissional 1</option>
                                <option>Profissional 2</option>
                                <option>Profissional 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Status</label>
                        </div>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Reservado</option>
                                <option>Em Atendimento</option>
                                <option>Finalizado</option>
                                <option>Não Compareceu</option>
                                <option>Cancelado</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Hora</label>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>Selecione</option>
                                <option>08:00</option>
                                <option>09:00</option>
                                <option>10:00</option>
                                <option>11:00</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:00</option>
                                <option>15:00</option>
                                <option>16:00</option>
                                <option>17:00</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Observação</label>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                <a class="btn btn-primary">Salvar</a>

            </div>
        </div>
    </div>
</div>

<div class="fade modal" id="modal-novo-cliente">
    <div class="modal-dialog">
        <form class="form-horizontal" role="form" name="novoClienteForm" ng-controller="novoClienteController">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Novo Cliente</h4>
                </div>
                <div class="modal-body">

                        <div class="form-group" ng-class="{'has-error': (novoClienteForm.nome.$invalid && novoClienteForm.nome.$dirty)}">
                            <label for="nome" class="col-sm-3 control-label">Nome</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do cliente" ng-model="cliente.nome" ng-required="true" ng-minlength="5" ng-maxlength="255">
                                <div ng-messages="novoClienteForm.nome.$error" ng-show="novoClienteForm.nome.$dirty">
                                    <div ng-message="required" class="help-block">
                                        Por favor, preencher o campo nome
                                    </div>
                                    <div ng-message="minlength" class="help-block">
                                        O campo descrição deve ter no mínimo 5 caracteres
                                    </div>
                                    <div ng-message="maxlength" class="help-block">
                                        O campo descrição de ter no máximo 255 caracteres
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (novoClienteForm.telefone.$invalid && novoClienteForm.telefone.$dirty)}">
                            <label for="telefone" class="col-sm-3 control-label" >Telefone</label>
                            <div class="col-sm-8">
                                <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Telefone do cliente" ng-model="cliente.telefone" mask='(99) 9?9999-9999' mask-restrict='reject' mask-clean='true'>
                                <div ng-messages="novoClienteForm.telefone.$error" ng-show="novoClienteForm.telefone.$dirty">
                                    <div ng-message="mask" class="help-block">
                                        Por favor, informe um telefone válido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (novoClienteForm.email.$invalid && novoClienteForm.email.$dirty)}">
                            <label for="email" class="col-sm-3 control-label" >E-mail</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail do cliente" ng-model="cliente.email">
                                <div ng-messages="novoClienteForm.email.$error" ng-show="novoClienteForm.email.$dirty">
                                    <div ng-message="email" class="help-block">
                                        Por favor, informe um e-mail válido
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <button type="button" class="btn btn-primary" ng-click="salvar(cliente)" ng-disabled="novoClienteForm.$invalid" >Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    (function () {
        'use strict';

        $('li', '.teste-menu').on('click', function() {
            $(this).toggleClass(function(){
                return 'active';
            });
        });
    })();
</script>