<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>Nome do Salão</b></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse" ng-controller="menuController">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/') }">
                        <a ui-sref="agenda"><i class="fa fa-calendar margin-r-5"></i> Agenda</a>
                    </li>
                    <li ng-class="{ active: isActive('/salao') }">
                        <a ui-sref="salao"><i class="fa fa-cogs margin-r-5"></i> Salão</a>
                    </li>
                    <li ng-class="{ active: isActive('/profissional') }">
                        <a ui-sref="profissional"><i class="fa fa-user margin-r-5"></i> Profissional</a>
                    </li>
                    <li ng-class="{ active: isActive('/cliente') }">
                        <a ui-sref="cliente"><i class="fa fa-users margin-r-5"></i> Clientes</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="">
                        <a ui-sref="logout"><i class="fa fa-sign-out margin-r-5"></i> Sair</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
