<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg">
            Entre com o Login e Senha ou <a ui-sref="registro" class="text-center">Registre-se</a>
        </p>

        <form name="loginForm">

            <div class="form-group has-feedback" ng-class="{'has-error': (loginForm.email.$invalid && loginForm.email.$dirty)}">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" ng-model="user.email" ng-required="true">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty">
                    <div ng-message="required" class="help-block">
                        Por favor, preencher o campo e-mail
                    </div>
                    <div ng-message="email" class="help-block">
                        Por favor, informe um e-mail válido
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="{'has-error': (loginForm.password.$invalid && loginForm.password.$dirty)}">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="user.password" ng-required="true" ng-minlength="5" ng-maxlength="10">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty">
                    <div ng-message="required" class="help-block">
                        Por favor, preencher o campo senha
                    </div>
                    <div ng-message="minlength" class="help-block">
                        O campo senha deve ter no mínimo 5 caracteres
                    </div>
                    <div ng-message="maxlength" class="help-block">
                        O campo senha deve ter no máximo 10 caracteres
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button ng-disabled="loginForm.$invalid" ng-click="login(user)" class="btn btn-primary btn-block btn-flat">Login</button>
                    <img ng-if="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div><!-- /.col -->
            </div>
        </form>
        <a ui-sref="recuperar-senha">Eu esqueci minha senha</a><br>

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->