.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
    color: #444;
    background: transparent;
}
.nav > li.active > a,
.nav > li.active > a:hover {
    background-color: #007bb6;
    color: #fff;
}

.login-box, .register-box {
    width: 360px!important;
    margin: 0 auto!important;
    padding-top: 10%;
}